<div class="pagination-wrapper">
  <% if (posts.prevPage) { %>
    <a href="<%= paginateUrl %><%= posts.prevPage %>">Previous</a>
  <% } %>
  <% if (posts.pages > 1 && posts.docs.length) { %>
    <% for (let i = 1; i <= posts.totalPages; i++) { %>
      <a href="<%= paginateUrl %><%= i %>" 
        <%= i === posts.page ? 'style=color:#000;' : '' %> 
      ><%= i %></a>
    <% } %>
  <% } %>
  <% if (posts.nextPage) { %>
    <a href="<%= paginateUrl %><%= posts.nextPage %>">Next</a>
  <% } %>
</div>