<div style="margin: 20px 0;">
  <% if (posts.prevPage) { %>
    <a href="/posts?page=<%= posts.prevPage %>">Previous</a>
  <% } %>
  <% for (let i = 1; i <= posts.totalPages; i++) { %>
    <a href="/posts?page=<%= i %>" 
      <%= i === posts.page ? 'style=color:#000;' : '' %> 
    ><%= i %></a>
  <% } %>
  <% if (posts.nextPage) { %>
    <a href="/posts?page=<%= posts.nextPage %>">Next</a>
  <% } %>
</div>