extends ../layout
block content
  .container
    h1 Edit Post: #{post.title}
    form#postEditForm(action=`/posts/${post.id}?_method=PUT` method='POST' enctype='multipart/form-data')
      input.u-full-width(type='text' name='post[title]' placeholder='Title' value=`${post.title}` required)
      input.u-full-width(type='text' name='post[price]' placeholder='Price' value=`${post.price}` required)
      input#imageUpload(type='file' accept='images/*' name='images' multiple)
      div
        each image, index in post.images
          img(src=`${image.url}` width='100px')
          label(for=`image${index}`)  
            input.imageDeleteCheckbox(type='checkbox' id=`image${index}` value=`${image.public_id}` name='deleteImages[]')
            span.label-body Delete
      textarea.u-full-width(name='post[description]' placeholder='Description') #{post.description}
      input.u-full-width(type='text' name='post[location]' placeholder='Location' value=`${post.location}` required)
      a.button(href=`/posts/${post.id}`)
        i.fas.fa-ban
        |   Cancel 
      button.button-primary(type='submit')
        i.fas.fa-save
        |   Save 
block append scripts
  script(src='/js/post-edit.js')
