extends ../layout.pug
block content
  .container
    h1 Edit Post: #{post.title}
    form(action=`/posts/${post.id}?_method=PUT` method="POST")
      .form-group
        input.form-control(type='text' name='post[title]' placeholder='Title' value=`${post.title}` required)
      .form-group
        .input-group
          .input-group-prepend
            span.input-group-text
              i.fas.fa-dollar-sign
          input.form-control(type='text' name='post[price]' placeholder='Price' value=`${post.price}` required)
      .form-group
        textarea.form-control(name='post[description]' placeholder='Description') #{post.description}
      .form-group
        input.form-control(type='text' name='post[location]' placeholder='Location' value=`${post.location}` required)
      button.btn.btn-primary(type='submit')
        i.fas.fa-save
        |   Save  