extends ../layout.pug
block content
  h1 Posts Index
  each post in posts 
    .card.w-50
      a.h3.card-header(href=`/posts/${post.id}`) #{post.title}
      .card-body
        p Price: $#{post.price}
        if post.description !== ''
          p= post.description
        else 
          p.font-italic No description provided...
        p= post.location

