extends ../layout
block content
  .container
    h1 Posts Index
    table.u-full-width
      thead
        tr
          th Title
          th Price
          th Description
          th Location
      tbody
        each post in posts
          tr
            td
              a(href=`/posts/${post.id}`) #{post.title}
            td $#{post.price}
            if post.description !== ''
              td= post.description
            else 
              td No description provided...
            td= post.location