<% layout('layouts/boilerplate') -%>
<div class="container">
  <h1>Posts Index</h1>
  <div id="map"></div>
  <%- include('../includes/pagination') %>
  <table class="u-full-width">
    <thead>
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Description</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% posts.docs.forEach(post => { %>
        <tr>
          <td><a href='/posts/<%= post.id %>'><%= post.title %></a></td>
          <td>$<%= post.price %></td>
          <% if (post.description !== '') { %>
            <td><%= post.description %></td>
          <% } else { %>
            <td>No description provided...</td>
          <% } %>
          <td><%= post.location %></td>  
        </tr>
      <% }); %>
    </tbody>
  </table>
  <%- include('../includes/pagination') %>
</div>
<script>
  mapboxgl.accessToken = "<%= mapBoxToken %>";
  const posts = { features: <%- JSON.stringify(posts.docs) %> }; 
</script>
<script src="/js/allPostsClusterMap.js"></script>
