<% layout('layouts/post-show-layout') -%>
<div class="container">
	<h1><%= post.title %></h1>
	<p><strong>Price: </strong>$<%= post.price %></p>
	<% if (post.description !== '') { %>
    <p><strong>Description: </strong><%= post.description %></p>
  <% } else { %>
    <p>No description provided...</p>
  <% } %>
	<p><strong>Location: </strong><%= post.location %></p>
	
	<div>
		Average Rating: 
		<% if (floorRating !== 0) { %>
			<% for(let i = 0; i < 5; i++) { %>
				<% if(i < floorRating) { %>
					<i class="nes-icon star is-small"></i>
				<% } else if((post.avgRating - i) > 0 && (post.avgRating - i) < 1) { %>
					<i class="nes-icon star is-half is-small"></i>
				<% } else { %>
					<i class="nes-icon star is-transparent is-small"></i>
				<% } %>
			<% } %>
		<% } else { %>
			<p>No rating</p>
		<% } %>
	</div>
	<br>
	<div>
		<% if (post.images.length) { %>
			<% post.images.forEach(image => { %>
				<img src="<%= image.url %>" alt="Product image">
			<% }); %>
		<% } else { %>
			<p>No photos provided...</p>
		<% } %>
	</div>
	<div id='map'></div>
	<div>
		<a href="/posts/<%= post.id %>/edit" class="nes-btn">Edit</a>
		<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
			<button type="submit" class="nes-btn is-error">Delete</button>
		</form>
	</div>
	<br>
	<h2>Create a Review</h2>
	<form action="/posts/<%= post.id %>/reviews" method="POST">
		<textarea class="nes-textarea" name="review[body]" placeholder="Leave a review" required></textarea>
		<%- include('../includes/rating-select') %>
		<br>
		<button class="nes-btn is-primary" type="submit">Submit</button>
	</form>
	<br>
	<h2>Reviews</h2>
	<% if (post.reviews.length) { %>
		<% post.reviews.forEach(review => { %>
			<div>
				Review by <em><%= review.author.username %></em><br>
				<%= review.body %><br>
				<% if (review.rating === 5) { %>
					<i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i>
				<% } else if (review.rating === 4) { %>
					<i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-transparent is-small"></i>
				<% } else if (review.rating === 3) { %>
					<i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i>
				<% } else if (review.rating === 2) { %>
					<i class="nes-icon star is-small"></i><i class="nes-icon star is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i>
				<% } else if (review.rating === 1) { %>
					<i class="nes-icon star is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i><i class="nes-icon star is-transparent is-small"></i>
				<% } else { %>
					<p>No rating...</p>
				<% } %>
			</div>

			<% if(review.author.equals(currentUser._id)) { %>
			<div>
				<button class="toggle-edit-form nes-btn">Edit</button>
				<form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=PUT" method="POST" class="edit-review-form">
					<textarea name="review[body]" class="nes-textarea" required><%= review.body %></textarea>
					<%- include('../includes/rating-select') %>
					<button class="nes-btn is-primary" type="submit">Save</button>
				</form>
				<form action="/posts/<%= post.id %>/reviews/<%= review.id %>?_method=DELETE" method="POST">
					<button type="submit" class="nes-btn is-error">Delete</button>
				</form>
			</div>
			<% } %>
			<hr>
		<% }); %>
	<% } else { %>
		<p>No reviews yet...</p>
	<% } %>
