extends ../layout.pug
block content
  .container
    h1= post.title
    p Price: $#{post.price}
    p= post.description
    p= post.location
    each image in post.images
      img(src=`${image.url}` alt='Product Image')
    a.btn.btn-primary(href=`/posts/${post.id}/edit`) 
      i.fas.fa-edit
      |   Edit
    form(action=`/posts/${post.id}?_method=DELETE` method="POST")
      button.btn.btn-danger(type="submit")
        i.fas.fa-trash-alt
        |   Delete