<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Console.log | <%= post.title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css">
    <link rel="stylesheet" href="/styles/post-show.css">
</head>
<body>
    <%- include('../includes/navbar.ejs') %>
    <%- include('../includes/flash-messages.ejs') %>
    <div class="container">
        <h1><%= post.title %></h1>
        <p>Price: $<%= post.price %></p>
        <p><%= post.description %></p>
        <p><%= post.location %></p>
        <% post.images.forEach(image => { %>
           <img src="<%= image.url %>" alt="Product Image"> 
        <% }); %>
        <div id="map" style="width: 350px; height: 200px;"></div>
        <a href="/posts/<%= post.id %>/edit" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</a>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</button>    
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js"></script>
    <script>const post = <%- JSON.stringify(post) %>;</script>
    <script src="/js/post-show.js"></script>
</body>
</html>