extends ../layout
block append stylesheets
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans")
  link(rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.css")
  link(rel="stylesheet" href="/css/post-show.css")
block content
  .container
    h1= post.title
    p Price: $#{post.price}
    if post.description !== ''
      p= post.description
    else 
      p No description provided...
    p= post.location
    if post.images.length 
      each image in post.images
        img(src=`${image.url}` alt='Product Image')
    else 
      p No photos provided...
    #map
    a.button(href=`/posts/${post.id}/edit`)
      i.fas.fa-edit
      |  Edit
    form(action=`/posts/${post.id}?_method=DELETE` method="POST")
      button(type='submit')
        i.fas.fa-trash-alt
        |  Delete
    h2 Add a Review
    form(action=`/posts/${post.id}/reviews` method="POST")
      <textarea class="u-full-width" name="review[body]" placeholder="Leave a review" required></textarea> 
      select.u-full-width(name='review[rating]' required)
        option(value='') Please select a rating
        option(value='5') (5) ⭐⭐⭐⭐⭐
        option(value='4') (4) ⭐⭐⭐⭐
        option(value='3') (3) ⭐⭐⭐
        option(value='2') (2) ⭐⭐
        option(value='1') (1) ⭐
      button.button-primary(type='submit') Submit
    h3 Reviews
    if post.reviews.length
      each review in post.reviews
        div
          |  Review by 
          em= review.author.username
          br
          div= review.body
          if review.rating === 5 
            +five-stars
          if review.rating === 4
            +four-stars
          if review.rating === 3
            +three-stars   
          if review.rating === 2
            +two-stars
          if review.rating === 1
            +one-star
        if review.author.equals(currentUser._id)
          div
            button.toggle-edit-form Edit
            form.edit-review-form(action=`/posts/${post.id}/reviews/${review.id}?_method=PUT` method='POST')
              textarea.u-full-width(name='review[body]') #{review.body}
              select.u-full-width(name='review[rating]' required)
                option(value='') Please select a rating
                option(value='5') (5) ⭐⭐⭐⭐⭐
                option(value='4') (4) ⭐⭐⭐⭐
                option(value='3') (3) ⭐⭐⭐
                option(value='2') (2) ⭐⭐
                option(value='1') (1) ⭐
              button.button-primary(type='submit')
                i.fas.fa-save
                |  Save
            form(action=`/posts/${post.id}/reviews/${review.id}?_method=DELETE` method='POST')
              button(type='submit') Delete
        hr
    else 
      p No reviews...
block append scripts
  script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v1.6.0/mapbox-gl.js")
  script.
    const post = !{JSON.stringify(post)};
  script(src="/js/post-show.js")